
@tailwind base;

@tailwind components;

@tailwind utilities;

#scss::after {
	content: "✔";
}

#tailwind::after {
	content: "✔";
	visibility: hidden;
}

#tailwind.works::after {
	@apply .visible;
}

